.login-body{
  background:linear-gradient(135deg,#020617,#0f172a);
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.login-container{
  width:100%;
  max-width:380px;
}

.login-box{
  background:#020617;
  padding:30px;
  border-radius:12px;
  box-shadow:0 0 25px rgba(0,247,255,0.2);
  color:white;
}

.login-box h2{
  text-align:center;
  margin-bottom:5px;
}

.login-box p{
  text-align:center;
  font-size:14px;
  color:#94a3b8;
  margin-bottom:20px;
}

.input-group{
  position:relative;
  margin-bottom:20px;
}

.input-group input{
  width:100%;
  padding:10px;
  background:none;
  border:1px solid #334155;
  border-radius:5px;
  color:white;
  outline:none;
}

.input-group label{
  position:absolute;
  top:50%;
  left:10px;
  color:#94a3b8;
  font-size:14px;
  transform:translateY(-50%);
  pointer-events:none;
  transition:0.3s;
}

.input-group input:focus + label,
.input-group input:valid + label{
  top:-8px;
  background:#020617;
  padding:0 5px;
  font-size:12px;
  color:var(--main-color);
}

.login-box button{
  width:100%;
  padding:10px;
  background:var(--main-color);
  border:none;
  border-radius:5px;
  cursor:pointer;
  font-weight:bold;
}

.links{
  display:flex;
  justify-content:space-between;
  margin-top:15px;
}

.links a{
  color:var(--main-color);
  font-size:13px;
  text-decoration:none;
}
.lgn{
    padding: 8px 18px;
    background: #00f7ff;
    color: #000 !important;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 100%;
    margin-left: 130px;
}
.lgn:hover{
  background: #3e8c8e;
}
